= render 'layouts/nav'
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
.wrapper
  %h1.colour Log In
  %br/
  = simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| 
    = f.input :email, required: false, autofocus: true, input_html: { class: 'area2' }, label: false, placeholder: "Email"
    %br/
    = f.input :password, required: false, input_html: { class: 'area2' }, label: false, placeholder: "Password"
    %br/
    = f.input :remember_me, input_html: { class: 'tickbox' }, as: :boolean if devise_mapping.rememberable?
    %br/
    = f.button :submit, "Log in", class: 'button3' 
    %br/
    %br/
    %br/
  = render "creators/shared/links" 

