= simple_form_for @kapp do |f|
  %br/
  = f.input :title, input_html: { class: 'area' }, label: false, placeholder: "Title"
  %br/
  = f.input :description, input_html: { class: 'lgarea' }, label: false, placeholder: "Description"
  %br/
  %br/
  = f.collection_select :category_id, Category.all, :id, :name, {prompt: "Choose a Category"}, class: 'areac' 
  %br/
  %br/
  %br/
  .imgbutton
    = f.input :thumbnail, as: :file, input_html: { hidden: true,class: 'imgbutton' }, label: 'Upload Thumbnail'
  %br/
  %br/
  %br/
  
  = f.button :submit, class: 'button3', id:'subm'
  
