= render 'layouts/nav'
     
.sidenav
  %ul
    %li
      = link_to "All", root_path, class: 'li'
    - Category.all.each do |category|  
      %li 
        = link_to category.name, kapps_path(category: category.name), class: 'li'
        


.up
  #posts
    - @kapp.each do |kapp|
      .post
        .post_image
          = link_to (image_tag kapp.thumbnail.url(:medium)), kapp
        .post_content
          .title
            %h2= link_to kapp.title, kapp
            %br/
          = link_to kapp.category.name, kapps_path(category: kapp.category.name), class: 'category'
          %br/
          %br/
          %p.username
            Published by
            = link_to kapp.creator.name, kapp.creator
            %br/
            = time_ago_in_words(kapp.created_at)
            ago

- if @kapp.blank?
  .wrapper
    %h2.colour.center There are no Kapps in this category