= render 'layouts/nav'


.profile
  .inline
    = image_tag @creator.profile.url(:large)
  .inline  
    %h1= @creator.name
  %p.about= @creator.about
  %p.count= pluralize(@creator.kapps.count, "Kapp")



%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/

.show
  #posts
    - @kapp.each do |kapp|
      .post
        .post_image
          = link_to (image_tag kapp.thumbnail.url(:medium)), kapp
        .post_content
          .title
            %h2= link_to kapp.title, kapp
            %br/
          %p.username
            Published by
            = link_to kapp.creator.name, kapp.creator
            %br/
            = time_ago_in_words(kapp.created_at)
            ago